OPENAI_API_KEY=""
TAVILY_API_KEY=""
BRAINTRUST_API_KEY=""
BRAINTRUST_PROJECT_ID="<your-braintrust-project-id>"
BRAINTRUST_PROJECT="<your-braintrust-project>"
BRAINTRUST_ORG_NAME="<your-braintrust-org-name>"
TRACE_PROFILE="full"
