GOOGLE_API_KEY=""
GOOGLE_GENERATIVE_AI_API_KEY=""
OPENAI_API_KEY=""
TAVILY_API_KEY=""
BRAINTRUST_API_KEY=""
BRAINTRUST_PROJECT_ID="<your-braintrust-project-id>"
BRAINTRUST_PROJECT="<your-braintrust-project>"
BRAINTRUST_ORG_NAME="<your-braintrust-org-name>"
BRAINTRUST_USE_GATEWAY="false"
BRAINTRUST_GATEWAY_URL="https://gateway.braintrust.dev"
BRAINTRUST_GATEWAY_API_KEY=""
MODAL_APP_NAME="<your-modal-app-name>"
TRACE_PROFILE="full"
BRAINTRUST_DEVSERVER_PORT="8300"
